## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [4]:
import pandas as pd
import numpy as np

In [5]:
country = ["Taiwan", "United States", "Thailand"]

In [23]:
population = np.random.randint(low=100000,high=10000000,size=3)

In [24]:
data_dict = {
                "國家": country,
                "人口": population
}
data = pd.DataFrame(data_dict)

In [25]:
data

              國家       人口
0         Taiwan  5081004
1  United States   461973
2       Thailand  4102853